
*/Icon
0-01-NumPy-Crash-Course/Icon
0-02-Pandas-Crash-Course/Icon
0-03-Crash-Course-Exercises/Icon
1-01-PlotlyBasics/Icon
1-02-ScatterPlots/Icon
1-02E-ScatterplotExercises/Icon
1-03-LineCharts/Icon
1-03E-LineChartExercises/Icon
1-04-BarCharts/Icon
1-05-BubbleCharts/Icon
1-05E-BubbleChartExercises/Icon
1-06-BoxPlots/Icon
1-06E-BoxPlotExercises/Icon
1-07-Histograms/Icon
1-07E-HistogramExercises/Icon
1-08-Distplots/Icon
1-09-Heatmaps/Icon
1-09E-HeatmapExercises/Icon
2-01-DashLayout/Icon
2-02-ConvertingPlotlyToDash/Icon
2-03-SimpleDashboardExercise/Icon
2-04-SimpleDashboardSolution/Icon
2-05-DashComponents/Icon
2-08-MultipleInputs/Icon
2-09-MultipleOutputs/Icon
2-10-InteractiveComponentsExercise/Icon
2-11-InteractiveComponentsSolution/Icon
2-12-ControllingCallbacksWithState/Icon
2-13-HoverOverData/Icon
2-14-ClickData/Icon
2-15-SelectedData/Icon
2-16-UpdatingGraphsInteractively/Icon
2-17-CodeAlongMilestoneProject/Icon
2-19-AppAuthorization/Icon
3-01-DataManipulationWithPandas/Icon
Data/Icon
Data/Images/Icon
Icon
SourceData/Icon
